extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner School Portal
        div.Message
            div.Title
                h3 Education
                h1 makes difference
            span.Details Access the School Portal now!
        div.NavButtons
            a(href="/user")
                div.NavButton Log In